@{
    ViewBag.Title = "Расчеты";
}


<br />
<br />
<br />
<br />



<ul>
    <li>@Html.ActionLink("Расчет остаточного ресурса по статистике отказов трубопроводов", "OstResCalc", "Home")</li>

    <li>@Html.ActionLink("Расчёт остаточного ресурса трубопровода по минимальной вероятной толщине стенки труб по результатам диагностики", "OstResShirinaCalc", "Home")</li>

</ul>
