@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная страница";
}



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<style>

    .text-bar-menu {
        word-wrap: break-word;
    }

</style>

<div class="  ">
    <div class="text-bar-menu">
        <div>
            <p>
                <button class="btn btn-lg btn-block" onclick="location.href='@Url.Action("OstResCalc", "Home", new { ParentId = 1 })'"><div ><h2>Расчет остаточного <wbr>ресурса по<wbr> статистике<wbr> отказов <wbr>трубопроводов </h2></div></button>
            </p>
        </div>
        <div>
            <p>
                <button class="btn btn-lg btn-block" onclick="location.href='@Url.Action("OstResShirinaCalc", "Home")'"><div><h2>Расчёт остаточного <wbr>ресурса  по минимальной вероятной <wbr> толщине стенки<wbr> труб по результатам <wbr>диагностики</h2></div></button>
            </p>
        </div>
        <div>
            <p>
                <button class="btn btn-lg btn-block" onclick="location.href='@Url.Action("index", "Home")'"><h2>Расчет <wbr>остаточного ресурса <wbr>по характеристикам <wbr>трещиностойкости</h2></button>
            </p>
        </div>
    </div>
</div>


